{{ ansible_managed | comment }}

[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=etcd.service syslog.target network.target
 
[Service]
User=postgres
Group=postgres
Type=simple
ExecStartPre=-/usr/bin/sudo /sbin/modprobe softdog
ExecStartPre=-/usr/bin/sudo /bin/chown postgres /dev/watchdog
ExecStart={{ patroni_bin_path }} {{ patroni_home }}/patroni.yml
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
Restart=no
TimeoutSec=30
 
[Install]
WantedBy=multi-user.target